section {
  position: relative;
  width: 820px;
  height: 670px;
  background: gray;
}
header {
  background-color: #C4C4C4;
  padding: 10px 20px
}
p {
  margin: 0;
}
.text {
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: #C4C4C4;
  width: 610px;
  height: 170px;
}
.text-box {
  margin: 9px;
  width: 500px;
  height: 150px;
}
.btn {
  background: blue;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 20px;
  top: 0;
}
.msg {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}
.msg p {
  border-style: solid;
  border: 2px;
  padding: 10px 20px;
  background: white;
  font-size: 18px
}
.msg input {
  border-style: solid;
  border: 2px;
  padding: 10px 20px;
  background: white;
  font-size: 18px
}
.options {
  display: flex;
  justify-content: end;
}
.button {
  border-radius: 0;
  border: none;
  margin: 0;
  width: 50;
  height: 30;
}
.exc {
  background-color: red;
}
.edt {
  background-color: yellow;
}
